<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./relyOn/element-ui.css">
  <script src="./relyOn/echarts.js"></script>
</head>

<body>
  <div id="app" class="scale-box" :style="{ width, height, transform: `scale(${scale}) translate(-50%, 0)` }">
    <div class="commonTitle">
      供应链金融平台管理驾驶舱
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
      <div class="hypotenuse"></div>
      <div class="hypotenuse hypotenuseright"></div>
      <div class="lin3hypotenuse"></div>
      <div class="lin3hypotenuse lin3hypotenuseright"></div>
      <div class="line4"></div>
      <div class="line4 line5"></div>
    </div>

    <div class="time">{{ time.day }} <span>{{ time.week }}</span> {{ time.hour }}</div>
    <!-- 地图 -->
    <iframe class="map" src="./map.html" frameborder="0"></iframe>
    <!-- <div id="map"></div> -->

    <!-- 资产数据统计 table -->
    <div class="box2 otherwidth commomBox">
      <div class="title">
        <div class="sign"></div>
        <div class="sign"></div>
        <span>资产数据统计</span>
        <div class="half"></div>
        <div class="line"></div>
        <div class="decorate"></div>
      </div>
      <div class="content">
        <table>
          <tr>
            <td v-for="(item, index) in assetStatistics.heads" :key="index + 'heads'">{{ item }}</td>
          </tr>
          <tr>
            <td v-for="(item, index) in assetStatistics.total" :key="index + 'total'">{{ item }}</td>
          </tr>
          <tr>
            <td v-for="(item, index) in assetStatistics.money" :key="index + 'money'">{{ item }}</td>
          </tr>
        </table>
      </div>
    </div>

    <!-- 业务发放金额变化趋势 changeTrend -->
    <div class="box3 otherwidth commomBox">
      <div class="title">
        <div class="sign"></div>
        <div class="sign"></div>
        <span>业务发放金额变化趋势</span>
        <div class="half"></div>
        <div class="line"></div>
        <div class="decorate"></div>
      </div>
      <div class="content" id="changeTrend">
      </div>
      <el-select class="select" size="mini" v-model="changeTrendValue" @change="getChangeTrend" placeholder="请选择">
        <el-option v-for="item in dateList" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
    </div>

    <!-- 不良率预警 rateWarning -->
    <div class="box4 commomBox">
      <div class="title">
        <div class="sign"></div>
        <div class="sign"></div>
        <span>不良率预警</span>
        <div class="half"></div>
        <div class="line"></div>
        <div class="decorate"></div>
      </div>
      <div class="content" id="rateWarning">
      </div>
      <el-select class="select" size="mini" v-model="rateWarningValue" @change="getRateWarning" placeholder="请选择">
        <el-option v-for="item in dateList" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
    </div>

    <!-- 业务发放笔变化趋势 businessDistribution -->
    <div class="box5 otherwidth commomBox">
      <div class="title">
        <div class="sign"></div>
        <div class="sign"></div>
        <span>业务发放笔数变化趋势</span>
        <div class="half"></div>
        <div class="line"></div>
        <div class="decorate"></div>
      </div>
      <div class="content" id="businessDistribution">
      </div>
      <el-select class="select" size="mini" v-model="businessDistributionValue" @change="getBusinessDistribution"
        placeholder="请选择">
        <el-option v-for="item in dateList" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
      </el-select>
    </div>

    <!-- 分类统计 -->
    <div class="box6 otherwidth commomBox">
      <div class="content" id="species">
        <div class="specItem" v-for="(item, index) in speciesList" :key="index" :style="getCurrentStyle(index)">
          <div class="title">{{ item.title }}</div>
          <div class="circle" :style="{ border: getCurrentStyle(index).border }">
            <div class="value">
              <count-to :start-val='0' :end-val="item.value"></count-to>
            </div>
            <div class="unit">{{ item.unit }}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 三十天内到期业务金额 -->
    <div class="box7 otherwidth">
      <div class="title">三十天内到期业务金额</div>
      <div class="content" id="amountDue">
        <div class="amountItem commonSmallBox">
          <div class="triangle"></div>
          <div class="triangleBgc"></div>
          <div class="decorate"></div>
          <div class="decorateTop"></div>
          <div class="line"></div>
          <div class="msg">
            <div class="label">保理总额</div>
            <div class="value">
              <span>
                <count-to :start-val='0' :end-val="totalFactoring"></count-to> 万元
              </span>
            </div>
          </div>
        </div>
        <div class="amountItem commonSmallBox">
          <div class="sign">
            <div class="triangle"></div>
            <div class="triangleBgc"></div>
            <div class="decorate"></div>
            <div class="decorateTop"></div>
            <div class="line"></div>
            <div class="msg">
              <div class="label">ABS、ABN总额</div>
              <div class="value">
                <span>
                  <count-to :start-val='0' :end-val="totalABN"></count-to> 万元
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./relyOn/dayJs.js"></script>
  <script src="./relyOn/vue.js"></script>
  <script src="./relyOn/vue-router.js"></script>
  <script src="./relyOn/element-ui.js"></script>
  <script src="./relyOn/axios.js"></script>
  <script src="./js/countTo.js"></script>
  <script src="./http/index.js"></script>
  <script src="./http/http.js"></script>
  <script src="./config/dataConfig.js"></script>
  <script src="./js/index.js"></script>
</body>

</html>